---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.icon {
    height: 21px;
    width: 21px
}

.callout {
  border: solid #c2c2c2 1px;
  padding: 10px 15px;
  //margin-bottom: 20px;
  border-radius: 10px;
}

.callout-info {
  border-left: solid #5c95f7 10px;
}

.callout-info::before {
  content: '💡';
  margin-right: 10px;
}

.callout-important {
  border-left: solid #f75cc3 10px;
}

.callout-important::before {
  content: '❗';
  margin-right: 10px;
}
