#copyButton, #helpMessage {
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-family: "Inter";
}

#copyButton {
    -fx-background-color: darkgray;
}

#copyButton:hover {
    -fx-background-color: dimgray;
}

#copyButton:armed {
    -fx-background-color: white;
}

#helpMessageContainer {
    -fx-background-color: white;
}
